
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

header {
  width: 100%;
  height: 150px;
  background-color: gray;
  display: flex;
  align-items: center;  
}

.square1 {
  height: 135px;
  width: 135px;
  background-color: blue;
  margin: 10px;
}

.text-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 375px;
}

p {
  font-size: 30px;
  text-align: center;
  padding: 40px;
}

.rectangle1 {
background-color: blue;
height: 175px;
width: 100%;
}

.rectangle2 {
  background-color:green;
  height: 175px;
  width: 100%;
  }

.rectangle3 {
  background-color: greenyellow;
  height: 175px;
  width: 100%;
 }

.rectangle4 {
  background-color:yellow;
  height: 175px;
  width: 100%;
  }
