header {
  width: 100%;
  height: 20vh;
  background-color: #444444;
}

body {
  background-color: #EFEFEF;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  background-color: white;
  width: 75%;
  height: 70vh;
}

.footer {
  background-color: #222222;
  width: 75%;
  height: 10vh;
  margin: 0;
}

